.login_btn.disabled {
    cursor: auto;
    pointer-events: none;
    background: #6191F2;
}

.login_btn {
    width: 100%;
    padding: 17px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    /* margin-top: 20px; */
    background-color: #0868fd;
    justify-content: center;
}

.remeber_chk {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background-image: url("/images/ic-check.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    cursor: pointer;
}
.remeber_chk:checked {
    background-image: url("/images/ic-checked.png");
}

.check_mark .chk_wrap{
    /* display: flex;
    align-items: center;
    gap:4px;
    margin-top: 22px;   */
}