.adList {
    padding-left: 1.5rem;
}

.titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 18px 0px;
}

.title {
    color: #2C324C;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding-right: 20px;
}

.line {
    height: 1px;
    background-color: #EBEDF4;
    flex: 1;
}

.adContents {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(38, 51, 77, 0.05);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 14px;
    color: #2c324c;
    border-right: 1px solid #ebedf4;
}

.adContents input[type='checkbox'] {
    width: 15px;
    height: 15px;
}
.btn{
    background-color: #0868FD !important;
    color: #fff !important;
}
.heading {
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #2C324C;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.menuHd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 14px 18px 30px;
    flex-wrap: wrap;
}

.tabMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.tab01 .tabTitle {
    /*font-weight: 700;*/
    /*font-size: 20px;*/
    /*line-height: 29px;*/
    /*color: #2f48d1;*/
}

.tabTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #2c324c;
    cursor: pointer;
}

.rightMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
}

.adAddBtn {
    width: 149px;
    padding: 10px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background: #2f48d1;
    border-radius: 7px;
    cursor: pointer;
}


.adDeleteBtn {
    padding: 8px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #999999;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    height: 36px;
}

.listHd {
    height: 60px;
    background: #f5f7fb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #EBEDF4;
    list-style: none !important;
}

.chkBox {
    width: 80px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ebedf4;
    /* height: 60px; */
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns:  60px 1fr 2fr 120px 1fr 1fr 1fr;
    text-decoration: none !important;
}


@media screen and (min-width: 1401px){
.grid {
    grid-template-columns: 80px 104px 280px 110px 210px 210px 90px;
}
}

@media screen and (min-width: 1450px){
    .grid {
        grid-template-columns: 5% 10% 35% 10% 15% 15% 10%;
    }
}

.grid:hover {
    text-decoration: none !important;
}

.gridBox {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    height: 50px;
    overflow-x: scroll;
    line-height: 50px;
    color: #2c324c;
    padding: 0px 20px;
    border-right: 1px solid #ebedf4;
    text-align: center;
}

.listGrid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    height: 50px;
    letter-spacing: -0.01em;
    color: #2C324C;
    padding: 0 0 0 20px;
    border-right: 1px solid #EBEDF4;
}

.adlistPagination {
    justify-content: center !important;
    transform: none !important;
}
.adDeleteBtn{
    width: 74px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
}

.form_group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form_group label {
    position: relative;
    cursor: pointer;
}

.form_group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #CDCDCD;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    /* margin-right: 5px; */
    border-radius: 2px;
}

.form_group input:checked+label:before {
    border: 2px solid #2F48D1 !important;
}

.form_group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 4px;
    height: 10px;
    border: solid #2F48D1;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


@media screen and (max-width: 1400px) {

    .typeWrap,
    .statusWrap {
        /* display: none; */
    }

    .grid {
        /* grid-template-columns: 0.7fr 116px 219px 130px */
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ; */
    }

    .gridBox {
        /* line-height: 20px; */
    }

}

@media screen and (max-width: 1024px) {

    .menuHd {
        background: #f4f7fb;
    }


    /* .grid {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(1, 50%);
        grid-auto-columns: 50%;
        grid-auto-flow: column;
    } */
    .listFlex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #EBEDF4;
    }

    .gridBox {
        font-weight: 500;
        font-size: 12px;
        line-height: 40px;
    }

    .tabMenu {
        column-gap: 16px;
    }

    .menuHd {
        padding: 0;
        padding-bottom: 12px;
    }

    .tabTitle {
        font-size: 14px;
        line-height: 140%;
    }

}

@media screen and (max-width: 767px) {
    .adAddBtn{
        gap: 4px;
        padding: 5px 2px;
        font-size: 13px;
        height: 26px;
    }
    .adAddBtn i{
        background-size: contain;
        width: 16px;
       height: 16px;
    }
    .adDeleteBtn,
    .chkBox,.only_pc {
        display: none;
    }
    .grid {
        grid-template-columns: 128px 86px 1fr !important;
        height: 58px;
        align-items: center;
        position: relative;
    }
    .listHd{
        background: #E1ECFF;
        height: 50px;
    }

    .tabWrap {
        display: block;
        width: 100%;
    }
    .gridBox{
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.5px;
        letter-spacing: -0.13px;
        padding-left: 12px;
        padding-right: 12px;
        border-right: 0;
    }
    .chkBox .gridBox{
        height: 60px;
    }
}
.buttonfont{
 font-family: inherit !important;
}
