$color_1: #222;
$color_2: #1e266d;
$color_3: #fff;
$color_4: #0868fd;
$color_5: #767676;
$color_6: #373737;
$color_7: #575757;
$color_8: #171717;
$color_9: #0868fd59;
$bgColor_1: #f8faff;
$bgColor_2: #f5f7fb;
$bgColor_3: linear-gradient(
	290deg,
	rgba(64, 124, 254, 0.6) 0.87%,
	rgba(138, 151, 254, 0.6) 101.55%
);
$font_family: 'Noto Sans KR';

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}

@media screen and (max-width: 960px) {
	.navbar-toggler {
		&:focus {
			outline: none !important;
			box-shadow: none !important;
		}
	}
	.navbarNav {
		transform: translateX(-100%);
		transition: 0.5s;
		position: fixed;
		background: $color_3;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		max-width: 350px;
		padding: 70px 0 0;
	}
	.navbarNav.show {
		transform: translateX(0);
		transition: 0.5s;
	}

	// Used for hiding desktop items on mobile
	.hide-big {
		display: none !important;
	}
	.hide-small {
		display: block !important;
	}
}

// Used for hiding mobile items on desktop
.hide-big {
	display: block;
}
.hide-small {
	display: none;
}

.bold-font {
	color: $color_4 !important;
}

@mixin hide-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;

	&::-webkit-scrollbar {
		width: 1px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
}

%hide-scrollbar {
	@include hide-scrollbar;
}

.landing-page-header {
	position: sticky;
	top: 0;
	background: $color_3;
	z-index: 1000;
	margin: 6px 0px 63px 0px !important;

	.logo {
		width: 200px;
		height: 56px;
	}

	nav {
		ul {
			gap: 60px;
			li {
				a {
					color: $color_1;
					text-align: center;
					font-family: $font_family;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					padding: 0;
				}
				a.active {
					font-weight: 700;
				}
			}
		}
	}

	@media screen and (max-width: 960px) {
		height: 64px;
		margin: 0 !important;

		.logo {
			width: 155px;
			height: 33px;
		}
		a {
			margin: -2px 0px 10px 16px;
		}
	}
}

.section-1 {
	position: relative;
	width: 100%;
	background-image: url('/images/Landing-page/hero-section.png');
	background-repeat: no-repeat;
	background-size: 67% 100%;
	background-position: 547px;

	.hero-text-container {
		margin-top: 285px;
	}

	> div {
		margin-left: 136px;
		height: 900px;
	}
	h1 {
		color: $color_2;
		font-family: $font_family !important;
		font-size: 60px;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1.8px;
	}
	p {
		color: $color_2;
		font-family: $font_family !important;
		font-size: 60px;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1.8px;
	}
	a {
		background: $color_4;
		border-radius: 100px;
		color: $color_3;
		text-align: center;
		font-family: $font_family;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		padding: 14px 50px;
		margin-top: 30px;
		width: 100%;
		max-width: 240px;
		display: block;
		border: 2px solid $color_4;
		transition: 0.5s;
		&:hover {
			color: $color_4;
			background: transparent;
			transition: 0.5s;
			text-decoration: none;
		}
	}

	@media screen and (max-width: 960px) {
		background-image: url('/images/Landing-page/hero-section-small.png');
		background-size: 100% 119%;
		background-position: top;
		margin: 0 auto 50px !important;

		.hero-text-container {
			margin-top: 40px !important;
		}

		> div {
			margin-left: 20px;
			height: 500px;
		}
		h1 {
			color: $color_3;
			font-family: $font_family;
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: 48px; /* 150% */
			letter-spacing: -0.96px;
		}
		p {
			color: $color_3;
			font-family: $font_family;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 48px;
			letter-spacing: -0.96px;
		}

		p:nth-child(2) {
			font-weight: 400;
		}

		a {
			padding: 10px 19px;
			color: $color_4;
			text-align: center;
			font-family: Noto Sans KR;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			background-color: $color_3;
			border-color: $color_4;
			border-width: 1px;
			width: 147px;
			margin-top: 20px;
			&:hover {
				color: $color_3;
			}
		}
	}
}

.section-2 {
	margin-top: 210px;
	margin-right: -7px;

	h1 {
		color: $color_1 !important;
		text-align: center;
		font-family: $font_family;
		font-size: 40px;
		line-height: 60px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -1.2px;
	}
	p {
		font-size: 22px;
		text-align: center;
		margin-top: 20px;
		text-align: center;
		font-family: $font_family;
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.66px;
	}

	@media screen and (max-width: 960px) {
		margin-top: 70px;
		h1 {
			font-size: 20px;
			line-height: 180%; /* 36px */
			letter-spacing: -0.6px;
			width: 297px;
			margin: 0 auto;
			padding: 0px;
			max-width: 297px;

			.bold-font {
				color: $color_4 !important;
			}
		}
		p {
			padding: 0px;
			width: 285px;
			margin: 20px auto 0px auto;
			font-size: 16px;
			line-height: normal;
			letter-spacing: -0.48px;
		}
	}
}

.section-3 {
	background-image: url('/images/Landing-page/Maskgroup.png');
	background-size: 788px 806px !important;
	height: 1000px;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	padding: 80px 0;
	margin: 85px auto 182px;

	.bold-font {
		color: $color_1 !important; 
	}

	.track-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
    margin-top: 115px;
    padding: 0px 10px;
  
		h1 {
			color: $color_1 !important;
			font-family: $font_family;
			font-size: 40px;
			line-height: normal;
			font-style: normal;
			font-weight: 700;
			letter-spacing: -1.2px;
		}

		.track-sub-headings {
			position: relative;
			z-index: 99;
			padding: 30px 26px;
			border-radius: 20px;
			transition: 0.5s;
      margin: 47px 0px 0px -11px;

			&:hover {
				background: $color_4;
				box-shadow: 17px 0px 50px 0px $color_9;
				transition: 0.5s;
				cursor: pointer;
				-webkit-animation: mover 1s infinite alternate;
				animation: mover 1s infinite alternate;
				h2 {
					color: $color_3;
				}
				p {
					color: $color_3;
				}
			}
			h2 {
				color: $color_1;
				font-family: $font_family;
				font-size: 22px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.44px;
			}
			p {
				color: $color_5;
				font-family: $font_family;
				font-size: 22px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: -0.44px;
				white-space: nowrap;
			}
		}
	}

	@media screen and (max-width: 960px) {
		background-image: none;
		height: 360px;
		padding: 0px;
		margin-top: 42px;
		margin-bottom: 0px;

    .bold-font {
      color: $color_4 !important; 
    }
  

		.track-content {
			margin: 0 0 20px !important;
			padding: 20px;

			h1 {
				margin-left: -3px;
				color: $color_1;
				font-family: $font_family;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.72px;
			}
		}

		.slide-container {
			display: flex;
			overflow-x: scroll;
      margin-top: -20px;
      margin-left: 11px;
      width: 100vw;
			@include hide-scrollbar;
		}

		.track-sub-headings {
			background-color: $bgColor_1 !important;
			margin-right: 20px !important;
			padding: 20px 43px 20px 20px !important;
			height: 186px !important;

			h2:nth-child(1) {
				margin-bottom: 10px !important;
			}
			h2:nth-child(2) {
				margin-bottom: 20px !important;
			}

			h2 {
				color: $color_1 !important;
			}
			h2.bold-font {
				color: $color_4 !important;
			}
			p {
				color: $color_5 !important;
				font-size: 18px !important;
				letter-spacing: -0.36px !important;
				max-width: 242px !important;
				min-width: 242px !important;
				width: 242px !important;
				white-space: normal !important;
			}

			&:hover {
				animation: none !important;
				-webkit-animation: none !important;
				box-shadow: none !important;
			}
		}
	}
}

.section-4 {
	margin: 0px 135px;
	.fourth-inner-text {
		h1 {
			color: $color_6;
			font-family: $font_family;
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -1.2px;
		}
		p {
			color: $color_6;
			font-family: $font_family;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.48px;
		}
	}

	.chats-div {
		p {
			color: $color_3;
			text-align: center;
			font-family: $font_family;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.54px;
		}
	}

	.chats-rcv {
		border-radius: 20px;
		background: $color_4;
		box-shadow: 12px 12px 50px 0px $color_9;
		color: $color_3;
		padding: 50px 45px;
		width: 100%;
		max-width: 414px;
		max-height: 155px;
		flex-shrink: 0;
	}

	.chats-send {
		border-radius: 20px;
		background: $color_4;
		box-shadow: 12px 12px 50px 0px $color_9;
		color: $color_3;
		padding: 50px 45px;
		flex-shrink: 0;
		display: flex;
		width: 100%;
		max-width: 414px;
		max-height: 155px;
		flex-direction: column;
		position: relative;
	}
}

.section-4-small {
	background-color: $bgColor_2;
	padding-top: 45px;

	h4 {
		color: $color_6;
		text-align: center;
		font-family: $font_family;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.72px;
	}
	h4:nth-child(1) {
		margin-top: -2px;
		margin-left: 8px;
	}
	h4:nth-child(2) {
		margin-bottom: 20px;
		margin-left: 8px;
	}
	h5 {
		color: $color_4;
		text-align: center;
		font-family: $font_family;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.36px;
		// margin: 0px 52px 30px 52px;
	}
	h5:nth-child(3) {
		margin-top: 0px;
		margin-left: 10px;
	}
	h5:nth-child(4) {
		margin-bottom: 30px;
		margin-left: 8px;
	}
	img {
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 38px;
	}
	div {
		padding: 20px 23px 20px 20px;
		color: $color_6;
		font-family: $font_family;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px; /* 155.556% */
		letter-spacing: -0.54px;
		margin: 0px 20px 20px 17px;
		border-radius: 20px;
		background-color: $color_3;
	}
	span {
		color: $color_4;
	}
}

.footer-section-1 {
	margin: 270px auto 0;
	background-image: url('/images/Landing-page/footer-bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 71px 0;

	.footer-sec {
		max-width: 1280px;
		margin: auto;

		h1 {
			color: $color_3;
			text-align: center;
			font-family: $font_family;
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -1.2px;
		}

		.icons-content {
			display: flex;
			gap: 30px;
			justify-content: center;

			.store-icons {
				display: flex;
				gap: 15px;
				border-radius: 3px;
				background: $color_8;
				width: 170px;
				height: 57px;
				align-items: center;
				margin-top: 7px;
				h4 {
					width: 71px;
					height: 18px;
					color: $color_3;
					font-family: $font_family;
					font-size: 12.593px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -0.378px;
				}
				p {
					color: $color_3;
					font-family: $font_family;
					font-size: 10.074px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					letter-spacing: -0.302px;
				}
				img {
					width: 34px;
					height: 34px;
					object-fit: contain;
				}
			}
		}
	}

	@media screen and (max-width: 960px) {
		padding: 50px 0 !important;
		margin: 20px auto 0 !important;

		.footer-sec {
			h1 {
				font-size: 25px;
				line-height: normal;
			}

			.icons-content {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.footer-section-2 {
	.footer-bottom-content {
		padding: 40px 0 45px;
		h4 {
			color: $color_7;
			text-align: left;
			font-family: $font_family;
			font-size: 15px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: -0.45px;
			margin: 0 0 10px;
		}
		p {
			color: $color_7;
			font-family: $font_family;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.39px;
		}
	}

	@media screen and (max-width: 960px) {
		.footer-bottom-content {
			padding: 40px 0 !important;
			width: 100%;
		}
	}
}

.footer-small-section-1 {
	background: $bgColor_3;
	padding: 40px 62px 28px 75px;
	margin-top: 36px;

	h4 {
		color: $color_6;
		text-align: center;
		font-family: $font_family;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.72px;
		margin-bottom: 30px;
	}

	> div:nth-child(2) {
		margin-top: 34px;
	}
	.footer-card {
		width: 160px;
		padding: 5px 20px;
		border-radius: 4px;
		background-color: $color_3;
		margin: 0px auto 10px auto;
		display: flex;
		gap: 4px;
		height: 48px;

		span {
			padding: 9px 4px;
		}
		div {
			h5 {
				color: $color_6;
				font-family: $font_family;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: -0.42px;
			}
			p {
				color: $color_6;
				font-family: $font_family;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: -0.36px;
			}
		}
	}
}

.footer-small-section-2 {
	background-color: $bgColor_1;
	padding: 40px 0px 33.33px 20px;

	p {
		color: $color_7;
		font-family: $font_family;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin: 0px;
	}

	> div:nth-child(1) {
		display: flex;
		gap: 15px;
		margin-bottom: 20px;

		h5 {
			color: $color_7;
			text-align: center;
			font-family: $font_family;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: -0.48px;
		}
	}

	> div:nth-child(2) {
		display: flex;
		gap: 4px;
		margin-bottom: 10px;

		p {
			font-size: 14px;
			letter-spacing: -0.42px;
		}
	}

	> p:nth-child(3) {
		font-size: 13px;
		letter-spacing: -0.39px;
	}
	> p:nth-child(4) {
		font-size: 13px;
		letter-spacing: -0.39px;
		margin-bottom: 6px;
	}
	> p:nth-child(5) {
		font-size: 13px;
		letter-spacing: -0.39px;
		margin-bottom: 20px;
	}
	> p:nth-child(6) {
		font-size: 12px;
		letter-spacing: -0.36px;
	}
}
