.advertisement-admin-sidebar_menu {
  width: 119px;
  /*background-color: #2f48d1;*/
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* overflow: hidden; */
}

.advertisement-admin-sidebar_menu {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.advertisement-admin-sidebar_menu::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.advertisement-admin-main_content {
  /* min-height: 781px; */
  background-color: #f5f7fb;
  width: calc(100% - 119px);
  padding-top: 0px;
  margin-left: 119px;
}