.blue_card {
  border-radius: 8px;
  box-shadow: 0px 2px 8px 1px rgba(8, 104, 253, 0.3);
  min-height: 50px;
  margin-bottom: 20px;
  background: linear-gradient(270deg, #3772FF 0%, #659BFF 77.28%);
}
.btnmbwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.btnmb {
  border-radius: 32px;
  background: #f5f7fb;
  box-shadow: -10px -10px 20px 0px #fff,
    10px 10px 20px 0px rgba(241, 245, 251, 0.5),
    5px 5px 10px 0px rgba(141, 165, 202, 0.25),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.5);
  height: 64px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f48d1;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  border: 0;
}
.horizontal_scroll::-webkit-scrollbar {
  display: none;
}
.horizontal_scroll {
  overflow: scroll;
  gap: 8px;
}
.horizontal_scroll_box {
  padding: 5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  min-width: 114px;
  border-radius: 16px;
  text-align: center;
}
.horizontal_scroll_box h4 {
  color: #878787;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 12px;
}
.horizontal_scroll_box h6 {
  color: #0868fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.horizontal_scroll_box span {
  color: #373737;
}
.banner_1 {
  background-image: url("/images/cargo/ad_banner_1.png");
}
.banner{
  background-repeat: no-repeat;
  background-size: inherit;
  width: 335px;
  height: 108px;
}

.banner_2 {
  background-image: url("/images/cargo/ad_banner_2.png");
  display: flex;
    justify-content: right;
}

.banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 0 15px;
}

.banner_2 .banner_content {
  padding: 0 15px 0 0;
}


.banner_content p{
  font-size: 12px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.banner_content p+p{
  font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@media screen and (min-width: 768px) {
  .banner{
    background-size: cover !important;
    height: 200px !important;
  }
}