.titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 14px 0;
}

.viewText {
    padding-left: 20px;
}

.title {
    padding-right: 20px;
    color: #2C324C;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.line {
    height: 1px;
    background-color: #EBEDF4;
    flex: 1;
}

.text {
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #373737;
    font-size: 14px;
}

.contentWrap {
    padding: 4px 30px 5px;
}

.notificationContent {
    height: 191px;
    background: #FFFFFF;
    border: 1px solid #EBEDF4;
    box-shadow: 0px 2px 8px 0 rgba(38,51,77,0.05);
    border-radius: 5px;
}

.list {
    border-bottom: 1px solid #ebedf4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 8px;
    padding: 15px 0;
}

.textWrap {}

.itemTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #2C324C;
}

.timestamp {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #999999;
    flex: 0 0 auto;
}
