/* only for global responsiveness  */
/* if you want particular component responsiveness so do it in it's own css file */
@media screen and (max-width: 1024px) {
  #login {
    display: block;
    position: relative;
    justify-content: center;
    padding: 0 20px;
  }

  #login .left {
    display: none;
  }

  #login .right {
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    padding: 5em 20px;
  }

  #login .right .logo-mb {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  #login .right .right-wrap {
    width: 100%;
    margin: auto;
  }

  #login .right .right-wrap .title-wrap .title {
    font-size: 20px;
    line-height: 29px;
  }

  #login .right .right-wrap .title-wrap .title strong {
    font-size: 20px;
    line-height: 29px;
  }

  #login .right .right-wrap .title-wrap .text {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
  }

  .only-pc {
    display: none;
  }

  .only-mb {
    display: block;
  }

  .main_content {
		min-height: auto;
		background-color: #F5F7FB;
		margin-left: 0;
		padding-top: 64px;
		width: 100%;
	}

  #inner_header {
    width: 100%;
    height: 64px;
    padding: 15px 20px;
    background: #ffffff;
    border-bottom: 1px solid #EBEDF4;
  }

  #inner_header .only-mb .header-mb .util-wrap .side-mb-btn {
    width: 30px;
    height: 30px;
    background: url(../../public/images/ic-menu.png) no-repeat center center / cover;
    cursor: pointer;
  }

  #inner_header .only-mb .header-mb .util-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #inner_header .only-mb .header-mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #inner_header .only-mb .header-mb .util-wrap .info-btn {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background: url(../../public/images/ic-setting-mb.png) no-repeat center center / cover;
    cursor: pointer;
  }

  .p-10 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
}