.adStatus {}

.titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title span {
    color: #2C324C;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
}

.line {
    height: 1px;
    background-color: #EBEDF4;
    flex: 1;
    max-width: 298px;
}

.text span {
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #373737;
    font-size: 12px;
    text-align: center;     
    line-height: normal;
}

.adContents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 17px;
}

.cards {
    height: 88px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(38, 51, 77, 0.05);
    border-radius: 5px;
    border: 1px solid #ebedf4;
}

.itemTitle span {
    color:#2C324C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}

.value span{
    color: var(--unnamed, #2C324C);
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
    letter-spacing: -0.2px;
}
@media screen and (min-width: 768px){
    .title_wrap_top{
        display: none;
    }
}
.title_wrap_top{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
    margin-bottom: 24px;
    color: #2C324C;
}
@media screen and (max-width: 991px){
.cards {
    height: 85px;
}
.adContents {
    margin-bottom: 40px;
   column-gap: 13px;
    row-gap: 13px;
}
.title span{
    font-size: 16px;
}
.value span{
    font-size: 16px;
}
}