.titleheading{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #373737;
    margin-bottom: 24px;
}
.formall input{
    border: 1px solid #EBEDF4;
    height: 40px;
}
.formall select{
    border: 1px solid #EBEDF4;
    height: 40px;
}
.mbcustom{
    margin-bottom: 20px;
}
.phonewrap{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}
.leftphone{
    width: calc(100% - 102px);
}
.buttonblue button{
    background-color: #0868FD;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonblue{
    width: 92px;
}
.notes{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #C8C5CB;
    margin-top: 10px;
}
.greywrap{
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 15px;
}
.greybutton{
    background: #EFEEF0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C8C5CB;
    width: 100%;
    border: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
