/* Model popup CSS */
div#slide_wrap .list {
  padding: 0px;
  border: 0;
}

div#ad_apply_info.active div#slide_wrap {
  display: block;
}

div#ad_apply_info div#slide_wrap {
  display: none;
}

.btn_section button#ad_apply_cancel {
  display: flex;
  justify-content: center;
}

.list {
  border-bottom: 1px solid #ebedf4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 8px;
  padding: 15px 0;
}

.btn_section button#ad_apply_cancel {
  display: flex;
  justify-content: center;
}

.only_mb {
  display: none;
}

body .div {
  background-color: #000000 !important;
}



#ad_apply_modal .ad_modal_wrap {
  max-width: 972px;
  width: 100%;
  margin: auto;
  background-color: #fafafa;
  border-radius: 5px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_title {
  display: block;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.015em;
  color: #2c324c;
  border-radius: 5px 5px 0 0;
  background-color: #e1ecff;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info {
  margin: 30px 30px 40px;
  border: 1px solid #2f48d1;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content {
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-right: 1px solid #2f48d1;
  border-radius: 5px 0px 0 5px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .info_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap {
  display: none;
  margin-top: 10px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_list_wrap .list {
  position: relative;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_list_wrap .list::before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_img_wrap {
  margin-bottom: 10px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_img_wrap .img_title {
  margin: 20px 0 16px 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  text-align: left;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_img_wrap .img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 84px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_img_wrap .img_wrap .img {
  display: block;
  width: auto;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_img_wrap .img_wrap .img01 {
  width: 242px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_img_wrap .img_wrap .img02 {
  width: 242px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap .info_img_wrap .img_wrap .img03 {
  width: 112px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .more_btn {
  width: 87px;
  flex: 0 0 auto;
  cursor: pointer;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .more_btn .text_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .more_btn .text_wrap .more_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_info .more_btn .text_wrap .ic_down_blue {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  background: url("/images/advertising/ic-down-blue.png") no-repeat center center;
  transform: rotate(0);
}

/* #ad_apply_modal .ad_modal_wrap .ad_apply_info.active .info_content {
  border: 1px solid #2f48d1;
  border-radius: 5px;
} */

#ad_apply_modal .ad_modal_wrap .ad_apply_info.active .more_btn .ic_down_blue {
  transform: rotate(180deg);
}

#ad_apply_modal .ad_modal_wrap .agrement_content {
  padding: 38px 30px 40px 30px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step {
  padding: 0px 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap {
  margin-bottom: 29px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #2c324c;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select {
  width: 290px;
  background: #ffffff;
  border: 1px solid #ebedf4;
  border-radius: 5px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box {
  position: relative;
  padding: 25px 0 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .hidden {
  display: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .ic_radio {
  position: absolute;
  top: 12px;
  left: 17px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("/images/advertising/ic-radio-defalut.png") no-repeat center center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .detail_desc {
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: #999999;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .box_icon {
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 21px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .box_icon.box_icon01 {
  background: url("/images/advertising/img-check01-defalut.png") no-repeat center center / cover;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .box_icon.box_icon02 {
  background: url("/images/advertising/img-check02-defalut.png") no-repeat center center / cover;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .box_icon.box_icon03 {
  background: url("/images/advertising/img-check03-defalut.png") no-repeat center center / cover;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .text {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #373737;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .text strong {
  font-weight: 700;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select.active {
  border: 1px solid #2f48d1;
}

.bg_Head_ {
  background-image: url(../../../../public//images/b12.svg);
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 42px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select.active .select_box .ic_radio {
  background: url("/images/advertising/ic-radio-active.png") no-repeat center center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select.active .select_box .detail_desc {
  color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select.active .select_box .box_icon.box_icon01 {
  background: url("/images/advertising/img-check01-active.png") no-repeat center center / cover;
}

.detailModalIcon1 {
  height: 80px;
  width: 80px;
  background: url("/images/advertising/img-check01-active.png") no-repeat center center / cover;
}
.detailModalIcon2 {
  height: 80px;
  width: 80px;
  background: url("/images/advertising/img-check02-active.png") no-repeat center center / cover;
}
.detailModalIcon3 {
  height: 80px;
  width: 80px;
  background: url("/images/advertising/img-check03-active.png") no-repeat center center / cover;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select.active .select_box .box_icon.box_icon02 {
  background: url("/images/advertising/img-check02-active.png") no-repeat center center / cover;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select.active .select_box .box_icon.box_icon03 {
  background: url("/images/advertising/img-check03-active.png") no-repeat center center / cover;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select.active .select_box .text {
  color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .input_section {
  margin-bottom: 10px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .box {
  display: block;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #373737;
  background-color: #ffffff;
  border: 1px solid #ebedf4;
  border-radius: 5px;
  margin-bottom: 0;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .input_title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #2c324c;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .sub_title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #2c324c;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .input_ad_title {
  width: 100%;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .text_count {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #999999;
  text-align: right;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .title_section .input_ad_title {
  font-size: 14px;
  line-height: 20px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .title_section .input_ad_title:focus {
  border: 1px solid #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap.ad_start_date {
  max-width: 260px;
  width: 100%;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .input_title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #2c324c;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap {
  position: relative;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .select_text .select_input,
#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .advertising_period {
  width: 260px;
  background: url("/images/advertising/ic-down-gray.png") no-repeat center right 10px / 24px #ffffff;
  cursor: pointer;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .date_select_box {
  display: none;
  width: 260px;
  height: 68px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  padding: 11px;
  background: #ffffff;
  border: 1px solid #ebedf4;
  border-radius: 5px;
  position: absolute;
  top: 43px;
  left: 0;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .date_select_box .date_list {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #373737;
  cursor: pointer;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .date_select_box .date_list .period_label {
  display: block;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .date_select_box .date_list .period_input {
  display: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .date_select_box .date_list.hidden {
  display: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap.active .date_select_box {
  display: flex;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap.spot_add.on.active .date_select_box {
  display: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .input-calendar {
  background: url("/images/advertising/ic-calendar.png") no-repeat center right 10px / 16px #ffffff;
  cursor: pointer;
  width: 100%;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .date_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #999999;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .date_content .input_date_start {
  width: 50%;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .date_content .input_date_end {
  width: 50%;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap {
  border: 1px solid #ebedf4;
  border-radius: 5px;
  background-color: #ffffff;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row {
  display: grid;
  grid-template-columns: 1fr 192px 306px 249px;
  border-bottom: 1px solid #ebedf4;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row:last-child {
  border-bottom: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row .text {
  font-size: 14px;
  line-height: 20px;
  color: #2c324c;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row .cell {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ebedf4;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row .cell:last-child {
  border-right: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list_hd .text {
  font-weight: 500;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .vehicles_num_wrap {
  column-gap: 3px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .vehicles_num_wrap .input_num {
  width: 78px;
  height: 20px;
  padding: 0 3px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
  border: 1px solid #ebedf4;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .price_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .price_wrap .price_input {
  text-align: right;
  border: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .price_wrap .price_input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #2c324c;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .price_wrap .won {
  display: block;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .price_wrap.on .price_input {
  text-align: center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .table_wrap .table_row.list .price_wrap.on .won {
  display: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .spot_info {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #2c324c;
  margin-top: 10px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .vehicles_section .spot_info.on {
  display: block;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section {
  position: relative;
  /* display: none; */
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section.active {
  display: block;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .reset_btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2px;
  cursor: pointer;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .reset_btn .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #999999;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .reset_btn .ic_reset {
  display: block;
  width: 12px;
  height: 12px;
  background: url("/images/advertising/ic-reset.png") no-repeat center center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px 6px;
  flex-wrap: wrap;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap {
  width: 125px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap .chk_area {
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  color: #373737;
  background-color: #ffffff;
  border: 1px solid #ebedf4;
  border-radius: 5px;
  cursor: pointer;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap .chk_input {
  display: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap .chk_input:checked+.chk_area {
  color: #ffffff;
  background: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(34, 34, 34, 0.6);
  z-index: 110;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal.active {
  display: flex;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal .check_modal-wrap {
  width: 335px;
  height: 199px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal .check_modal-wrap .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal .check_modal-wrap .text {
  margin: 20px 0;
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal .check_modal-wrap .btn_wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal .check_modal-wrap .btn_wrap .active_btn {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: #0868fd;
  border-radius: 4px;
  cursor: pointer;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .area_modal .check_modal-wrap .btn_wrap .line-btn {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
  color: #0868fd;
  border: 1px solid #0868fd;
  border-radius: 4px;
  cursor: pointer;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box {
  width: 343px;
  /* padding: 17px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2px;
  margin-left: 16px;
  margin-right: 16px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box .price_text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.015em;
  color: #999999;
  padding-left: 0;
  padding-right: 0;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box .total_price {
  display: block;
  width: 215px;
  text-align: right;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box .spot-price {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.015em;
  color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box.on {
  justify-content: space-between;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box.on .text_won {
  display: none;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_info {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #999999;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .error_box {
  height: 44px;
  display: none;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0 30px;
  background: #f24747;
  margin-left: -30px;
  margin-right: -30px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .error_box.active {
  display: flex;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .error_box .error_line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .error_box .error_line .ic_error {
  display: block;
  width: 24px;
  height: 24px;
  background: url("/images/advertising/ic-error.png") no-repeat center center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .error_box .error_line .error_text {
  display: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .error_box .error_line .error_text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .error_box .error_line .error_text.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-top: 35px;
  padding-bottom: 50px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .cancel_btn {
  padding: 12.5px;
  background-color: #ffffff;
  border: 1px solid #999999 !important;
  color: #999999 !important;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .btns {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2f48d1;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  width: 15%;
  padding: 13px 0px;
  border: 1px solid transparent;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .btns.line {
  border: 1px solid #2f48d1;
  background-color: #ffffff;
  color: #2f48d1;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .btns.active {
  background: #2f48d1;
}

.error {
  color: red;
}

.terms_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #2c324c;
}

.terms_text {
  color: #999;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.terms_text {
  overflow-y: auto;
  height: 260px;
  margin: 30px 0 40px;
}

.terms_company {
  padding-top: 35px;
  margin-bottom: 135px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #2c324c;
  border-top: 1px solid #999999;
}

.ad_apply_btn {
  display: block !important;
}

.apply_completed_wrap {
  width: 367px;
  height: 323px;
  padding: 40px 5px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.ic_modal_chk {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.popup_success_title {
  margin: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #2f48d1;
}

.popup_success_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.popup_sub_text {
  margin: 8px 0 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #999999;
}

.apply_completed_btn {
  padding: 5px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  background: #2f48d1;
  margin: auto;
}

.mobile-top-header {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 36px 20px;
}

.header {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #2c324c;
}

.date_selector {
  position: relative;
}

.input_date{
    left: 0 !important;
    border-radius: 5px ;
}

.image_section{
  border-radius: 5px;
  border: 1px solid #EBEDF4;
  background: #FFF;
    color: #2F48D1;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
    padding: 6px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image_section img {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .mobile-top-header {
    display: none !important;
    }

    #ad_apply_modal {
      padding-top: 80px !important;
    }
}


@media only screen and (max-width: 991px){
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .select_text .select_input,
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .advertising_period {
    width: 100%;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section {
    flex-direction: column;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap {
    gap: 15px;
    display: flex;
    justify-content: center;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .detail_desc {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap.ad_start_date {
    max-width: 100%;
  }
  .date_content span {
    display: none;
  }
  .datepicker input{
    left: 0;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .date_content {
    column-gap: 13px;
  }

  .date_selector {
    position: relative;
    margin-top: 27px;
  }

  .input_date_selector {
    margin: 0px !important;
  }
  /* .spot_input_add {
    position: relative !important;
  }

  .spot_input_add::after {
    content: "~" !important;
  position: absolute !important;
  top: 0 !important;
  font-size: 18px !important;
  width: 100px !important;
height: 100px !important;
  } */
}






@media only screen and (max-width: 768px){
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .btns {
    width: 50%;
  }
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section {
    column-gap: 12px;
  }
  .date_section .input_wrap{
    width: 100%;
  }
  .input_date{
    left: 0px !important;
    top: 0px !important;
  }
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select {
    width: 100%;
  }

  .truck_image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.third_image {
  width: 80px !important;
  height: 80px !important;
  object-fit: contain !important;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap {
  flex-direction: column;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap.ad_start_date {
  max-width: 100%;
  width: 100%;
}
#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .date_content {
  column-gap: 13px;
}
.mobile-top-header {
display: none !important;
}

#ad_apply_modal .ad_modal_wrap {
  margin-top: 55px;
}

#ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap {
  width: 155px;
}
}

@media only screen and (max-width: 767px) {
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap {
    width: 24%;
  }
}




@media only screen and (max-width: 575px) {
  #ad_apply_modal {
    padding: 62px 0px 0px 0px !important;
    background: none !important;
  }
  #ad_apply_modal.aggred {
    background: rgba(34, 34, 34, 0.6) !important;
    z-index: 9999 !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap {
    display: block !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .detail_desc {
    display: none !important;
  }

  .select_box {
    display: flex !important;
    flex-direction: inherit !important;
  }


  .box_icon {
    margin: 0 !important;
    padding: 0 !important;
    width: 40px !important;
    height: 40px !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .modal_select_wrap .text {
    text-align: inherit !important;
    font-size: 13px !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box {
    padding: 15px 0px 25px 50px;
    gap: 16px;
    justify-content: inherit !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .modal_select_wrap .modal_select .select_box .ic_radio {
    top: 15px;
    left: 20px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap {
    margin-bottom: 20px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step {
    padding: 0px 20px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_info {
    margin: 0px 20px 25px;
    align-items: center;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .select_text .select_input,
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .select_wrap .advertising_period {
    width: 100%;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section {
    flex-direction: column;
    display: block;
  }

  /* #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap.ad_start_date {
    width: 50% !important;
  } */
  .ad_period_section,.ad_start_date{
    width: 100% !important;
  }
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .date_content .input_date_start {
    width: 50%;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap {
    width: 22%;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid {
    gap: 4px 12px;

  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box {
    width: 248px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .price_section .price_box .price_text {
    font-size: 14px;
    width: 73px;
    padding: 10px;

  }

  .total_price {
    width: 100% !important;
  }

  .total_price {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    width: 173px !important;
    padding: 0 !important;
    gap: 0 !important;
  }

  .total_price p {
    width: auto !important;
  }

  .total_price p+p {
    margin: 0 !important;
    padding: 0px 10px 0px 5px !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content {
    padding: 20px 10px 20px 10px;

  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .slide_wrap {
    margin-top: 0px;
  }

  .info_list_wra {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_info .info_content .info_text {
    margin-bottom: 10px !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .radio_wrap .title {
    display: none;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section.active {
    padding: 0;
    margin: 0 0 40px 0px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .input_section {
    margin-bottom: 20px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .input_section.input_ad_name {
    margin-bottom: 11px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .cancel_btn {
    padding: 9px 67px;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .btns.active {
    padding: 9px 53px;
  }

  input.form-control {
    padding: 8px 12px;
  }

  .input_wrap {
    margin-top: 10px !important;
  }

  .date_content span {
    display: none;
  }

  .date_content {
    column-gap: 13px !important;
  }

  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .date_section .input_wrap .date_content .input_date_end {
    width: 50%;
  }

  .ad_apply_title {
    display: none !important;
  }

  .terms_text {
    margin: 20px 0 43px;
  }
  .terms_company {
    padding-top: 30px;
    margin-bottom: 40px;
  }
  .aggreement_section .modal_step {
    padding: 0px !important;
  }

  .aggreement_section .btns {
    padding: 9px 64px !important;
    width: 100% !important;
  }
  .aggreement_section .agrement_content {
    padding: 0px 20px 40px 20px !important;
  }
  .aggreement_section .modal_step .btn_section {
    column-gap: 12px !important;
  }
  .apply_completed_wrap {
    width: 334px;
    height: 268px;
    padding: 20px 5px !important;
  }
  .ic_modal_chk{
    width: 30px;
    height: 30px;
}
#ad_apply_modal .ad_modal_wrap {
  margin-top: 0px;
  padding-top: 15px;
}
.mobile-top-header {
  display: flex !important;
  }
}


@media only screen and (max-width: 320px) {
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .area_section .chk_grid .chk_wrap {
    width: 30%;
  }
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .btns.active {
    padding: 9px 23px;
  }
  #ad_apply_modal .ad_modal_wrap .ad_apply_content .modal_step .btn_section .cancel_btn {
    padding: 9px 37px;
  }
}
