
.form_group input:checked+label:before {
    border: 2px solid var(--primary-color) !important;
}

.form_group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 4px;
    height: 10px;
    border: solid var(--primary-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.chkBox {
    width: 60px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ebedf4;
    height: 60px;
}


.chkBox input[type='checkbox'] {
    width: 15px;
    height: 15px;
}