@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
}

dl,
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* dashboard-layout-css-start */

#dashboard {
  display: flex;
}

.sidebar_menu {
  width: 305px;
  background-color: #2f48d1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}

.main_content {
  min-height: 781px;
  background-color: #f5f7fb;
  width: calc(100% - 305px);
  padding-top: 120px;
  padding-bottom: 60px;
  margin-left: 305px;
}

/* dashboard-layout-css-end */

/* sidebar-css-start */

.sidebar_menu .content {
  position: relative;
  min-height: 900px;
  height: 100%;
}

.sidebar_menu .side-logo {
  width: 180px;
  padding: 34px 0;
  margin: 0 auto;
}

.sidebar_menu .content .sidemenu-wrap {
  padding-left: 25px;
}

.sidebar_menu .side-logo img {
  width: 100%;
}

.sidebar_menu .content .sidemenu-wrap .menu-wrap .menu-list .link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 10px;
  padding: 15px 0 15px 40px;
}

.sidebar_menu .content .side-logout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}

.sidebar_menu .content .side-logout .logout-btn {
  width: 223px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin: 0 auto;
  background: #3754f0;
  border-radius: 5px;
}

.sidebar_menu .sidemenu-wrap .menu-wrap .menu-list.active .link {
  background-color: #f5f7fb;
  border-radius: 5px 0px 0px 5px;
}

.sidebar_menu .content .sidemenu-wrap .menu-wrap .menu-list.active .link .name {
  color: #2f48d1;
}

ul.sub-wrap {
  margin-left: 73px;
  line-height: 34px;
}
ul.sub-wrap a.sub-link {
  color: #b0bdfa !important;
}
.menu-wrap a {
  color: #b0bdfa !important;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: none !important;
  display: flex;
}
.drop-btns .btn:hover {
  background-color: transparent !important;
}
.drop-btns .btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: transparent !important;
}
.drop-btns .my-company {
  margin-left: 10px;
}
.drop-btns .dropdown-menu.show {
  width: 215px !important;
}
/* sidebar-css-end */

/* header-css-start */

#inner_header {
  width: calc(100% - 305px);
  height: 120px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  background-color: #e7e7e7;
  z-index: 100;
  border-bottom: 1px solid #e7e7e7;
}

.header-pc {
  display: flex;
  align-items: center;
  color: #000;
  justify-content: space-between;
}

.header-pc .header-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #222222;
}

.header-pc .my-info {
  position: relative;
  height: 60px;
  /* padding: 0 46px 0 12px; */
  padding: 0 18px 0 6px;
  background: #ffffff;
  border: 1px solid #ebedf4;
  box-shadow: 0px 2px 10px rgba(217, 219, 231, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-pc .my-info .info-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.header-pc .my-company .company-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: #1f1f1f;
}

.header-pc .my-company .email {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #373737;
}

/* header-css-end */

/* footer-css-start */

#inner_footer {
  width: calc(100% - 305px);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: #e7e7e7;
  z-index: 100;
  border-bottom: 1px solid #e7e7e7;
  color: #aaa;
  text-align: center;
}

/* footer-css-end */

.p-10 {
  color: #000;
}

.statics {
  color: #000;
}

.Advertisement {
  color: #000;
}

.Mypage {
  color: #000;
}

.CustomerService {
  color: #000;
}

.faq {
  color: #000;
}

/* Advertisement Status css Start */

#dashboard .container .board-content .dashboard-content .step-01 .ad-status {
  width: 50%;
}

#dashboard .container .board-content .dashboard-content .title-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  padding: 20px 0;
}

#dashboard .container .board-content .dashboard-content .title-wrap .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #2c324c;
  flex: 0 0 auto;
}

.title-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 8px;
  padding: 20px 0;
}

.ad-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 17px;
}

.cards {
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(38, 51, 77, 0.05);
  border-radius: 5px;
  border: 1px solid #ebedf4;
}

.value {
  font-size: 20px;
  line-height: 140%;
}

.content-wrap {
  padding: 4px 30px 5px;
}

.list {
  border-bottom: 1px solid #ebedf4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 8px;
  padding: 15px 0;
}

.text-wrap {
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #2c324c;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.timestamp {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #999999;
  flex: 0 0 auto;
}

font {
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.title-wraps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
  padding: 20px 25px;
}

.ad-list {
  padding-left: 1.5rem;
}

.ad-contents {
  height: 560px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(38, 51, 77, 0.05);
  border-radius: 5px;
}

.menu-hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 16px 19px 30px;
}

.tab-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.tab-01 .tab-title active {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #2f48d1;
}

.tab-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #2c324c;
  cursor: pointer;
}

.ad-add-btn {
  width: 149px;
  padding: 10px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #2f48d1;
  border-radius: 7px;
  cursor: pointer;
}

.ad-delet-btn {
  width: 74px;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #999999;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
}

.right-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.select-box {
  position: relative;
}

.tab-wrap {
}

.list-hd {
  height: 60px;
  background: #f5f7fb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.chk-box {
  width: 60px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ebedf4;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 115px 1fr 127px 227px 172px;
}

.grid-box {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 60px;
  color: #2c324c;
  padding: 0 0 0 20px;
  border-right: 1px solid #ebedf4;
}

/* Advertisement Status css End */

/* my-info-page- style start */

.my-info-content {
  padding: 30px 20px;
}

.form-wrap {
  max-width: 855px;
  width: 100%;
  margin: 0 auto;
}

.title-wraps-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  border-bottom: 1px solid #ebedf4;
}

.profile-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;
  padding: 20px 22px;
}

.profile-img {
  position: relative;
  width: 72px;
  height: 72px;
}

.user-photo {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
}

.input-file {
  display: none;
}

.photo-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border: none;
  width: 20px;
  height: 20px;
  background: url("/images/ic-change.png") no-repeat center center / cover;
  cursor: pointer;
}

.profile-text {
}

.company-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #2c324c;
}

.correction {
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

.change-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 15px 30px;
  background: #ffffff;
  border: 1px solid #ebedf4;
  border-radius: 5px;
}

.my-information {
  background: #ffffff;
  border: 1px solid #ebedf4;
  border-radius: 5px;
}

.my-infos {
  font-size: 20px;
  font-weight: 500;
}

.my-information .title {
  padding: 15px 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #2c324c;
  border-bottom: 1px solid #ebedf4;
}

.information-wrap {
  padding: 20px 30px 30px;
  display: block;
  position: relative;
}

.list-wrap {
}

.lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#company_name {
  display: block;
  max-width: 380px;
  width: 100%;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2c324c;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.desc {
  width: 231px;
  margin: 20px 0;
  flex: 0 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2c324c;
}

.point {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #f24747;
}

.information-wrap input {
  display: block;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.list-input {
  max-width: 380px;
  width: 100%;
}

#modify_btn {
  width: 92px;
  margin: 37px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  color: #ffffff;
  background: #2f48d1;
  border-radius: 5px;
  display: inherit;
  cursor: pointer;
}

.change-password-content {
  padding: 40px 0;
}

.form-wraps {
  width: 420px;
  margin: 0 auto;
  padding: 50px 20px 30px;
  background-color: #ffffff;
  border: 1px solid #ebedf4;
  border-radius: 5px;
}

.change-password-wrap .title-wrap .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #2c324c;
}

.sub-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}

.list-wrap-11 .list-11 {
  display: block;
  position: relative;
}

.input-pass {
  width: 100%;
  display: block;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.eyes {
  position: absolute;
  right: 16px;
  top: 44px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/images/ic-hide.png") no-repeat center center / cover;
  cursor: pointer;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  margin-top: 67px;
}

.cancel-btn {
  line-height: 33px;
  color: #2f48d1;
  border: 1px solid #2f48d1;
}

.btns {
  width: 92px;
  border-radius: 5px;
  line-height: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

.modify-btn {
  color: #ffffff;
  background-color: #2f48d1;
  cursor: pointer;
}

.btnss {
  width: 92px;
  border-radius: 5px;
  line-height: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

/* my-info-page- style end */

/* Login style start */

#login {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}

#login .left {
  height: 100%;
  background: url("/images/img-login.png") no-repeat center center / auto #0868fd;
  width: 50%;
}

#login .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .right .right-wrap {
  width: 380px;
}

#login .right .right-wrap .title-wrap-login {
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
}

#login .right .right-wrap .title-wrap-login .title {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #222222;
}

#login .right .right-wrap .title-wrap-login .title strong {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #0868fd;
}

#login .right .right-wrap .title-wrap-login .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #373737;
}

#login .right .right-wrap .login-form .input-wrap {
  display: block;
  position: relative;
  margin-top: 20px;
}

#login .right .right-wrap .login-form .input-wrap .desc {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

#login .right .right-wrap .login-form .input-wrap .user-input.active {
  border: 1px solid #0868fd;
}

#login .right .right-wrap .login-form .input-wrap input {
  width: 100%;
  display: block;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

#login .right .right-wrap .login-form .login-utile-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#login .right .right-wrap .login-form .login-utile-wrap .login-keep-wrap label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
}

#login .right .right-wrap .login-form .login-utile-wrap .login-keep-wrap label .login-keep {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  cursor: pointer;
}

#login .right .right-wrap .login-form .login-utile-wrap .login-error .error-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #f24747;
  display: none;
}

#login .right .right-wrap .login-form .login-utile-wrap .login-keep-wrap label .chk-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

#login .right .right-wrap .login-form .login-btn.disabled {
  cursor: auto;
  pointer-events: none;
}

#login .right .right-wrap .login-form .login-btn {
  width: 100%;
  padding: 17px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  margin-top: 20px;
  background-color: #0868fd;
}

#login .right .right-wrap .link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-top: 12px;
}

#login .right .right-wrap .link-wrap .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #999999;
}

/* <------guide-Page-style-start-------> */

.guide-content {
  padding: 20px 29px;
}
.guide-content .title-wrap {
  display: block;
}
.guide-content .title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #2c324c;
}
.guide-content .sub-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2c324c;
}
.guide-content .guide-box-wrap {
  width: 100%;
  height: 658px;
  margin-top: 22px;
  padding: 50px;
  background-color: #ffffff;
}
.guide-content .box-wrap {
}
.guide-content .box-list {
  margin-bottom: 40px;
}
.guide-content .box-list .box-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2c324c;
}
.guide-content .box-list .box-sub-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2c324c;
}
.guide-content .box-list .box-link-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 15px;
}
.guide-content .box-list .box-link-wrap .box-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 335px;
  height: 55px;
  padding: 0 20px;
  background-color: #456192;
}
.guide-content .box-link .box-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.guide-content .ic-arrow-right {
  display: block;
  width: 20px;
  height: 20px;
  background: url(https://dev-icarus.mufin.lol/wp-content/themes/icarus/assets/images/guide/ic-arrow-right.png)
    no-repeat center center / cover;
}
.logout-danger {
  color: red;
  font-weight: 600;
}
/* <------guide-Page-style-end-------> */

/* Signup Page Css Start */

#sign_up {
  height: 100vh;
}

#sign_up .step-section {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#sign_up .step-section .left {
  width: 50%;
  height: 100%;
}

#sign_up .step-section .right {
  width: 50%;
  height: 100%;
  overflow: auto;
}

#sign_up .step01 .left {
  background: url("/images/img-step-1.png") no-repeat center center / auto #0868fd;
}

#sign_up .step02 .left {
  background: url("/images/img-step-2.png") no-repeat center center / auto #0868fd;
}

#sign_up .step03 .left {
  background: url("/images/img-step-3.png") no-repeat center center / auto #0868fd;
}

#sign_up .step04 .left {
  background: url("/images/img-step-4.png") no-repeat center center / auto #0868fd;
}

#sign_up .step-section .left .left-wrap {
  margin: 20px;
  width: 140px;
}

#sign_up .step-section .right .right-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sign_up .step-section .right .right-wrap .right-content {
  width: 380px;
}

#sign_up .step-section .right .right-wrap .right-content .back-btn {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
  background: url("/images/ic-back.png") no-repeat center center / cover;
}

#sign_up .step-section .right .right-wrap .right-content .step-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #222222;
}

#sign_up .step-section .right .right-wrap .right-content .step-text {
  margin: 6px 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

#sign_up .step01 .right .right-wrap .right-content .agree-content .agree-wrap .agree-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#sign_up .step01 .right .right-wrap .right-content .agree-content .agree-wrap .agree-list .chk-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

#sign_up .step01 .right .right-wrap .right-content .agree-content .agree-wrap .agree-list .chk-wrap .terms-chk {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-image: url("/images/ic-check.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  cursor: pointer;
}

#sign_up .step01 .right .right-wrap .right-content .agree-content .agree-wrap .agree-list .chk-wrap .terms-chk:checked {
  background-image: url("/images/ic-checked.png");
}

#sign_up .step01 .right .right-wrap .right-content .agree-content .agree-wrap .agree-list .chk-wrap .chk-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

#sign_up .step03 .right .right-wrap {
  min-height: 1090px;
}

#sign_up .step-section .right .right-wrap .right-content .input-wrap .error-text {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
  color: #f24747;
}

#sign_up .step-section .right .right-wrap .right-content .input-wrap .input-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

#sign_up .step03 .right .right-wrap .right-content .user-info .input-wrap .business-num-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

#sign_up .step03 .right .right-wrap .right-content .user-info .input-wrap .business-num-wrap .business-num-btn {
  flex: 0 0 auto;
  width: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  background: #0868fd;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
}

#sign_up .step03 .right .right-wrap .right-content .user-info .input-wrap .file-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

#sign_up .step03 .right .right-wrap .right-content .user-info .input-wrap .file-wrap .file-label {
  display: block;
  width: 84px;
  flex: 0 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  color: #6191f2;
  text-align: center;
  background: #ffffff;
  border: 1px solid #6191f2;
  border-radius: 4px;
  cursor: pointer;
}

#sign_up .step03 .right .right-wrap .right-content .user-info .input-wrap .file-wrap .company-file {
  display: none;
}

#sign_up .step03 .right .right-wrap .right-content .user-info .input-wrap .file-info {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
  color: #999999;
}

#sign_up .step03 .right .right-wrap .right-content .user-info .input-wrap .file-wrap .file-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  line-height: 46px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

#sign_up .step-section .right .right-wrap .right-content .link {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: block;
  padding: 17px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
  background: #0563f6;
  color: #ffffff;
}

.more-content-modal .modal-dialog {
  max-width: 840px;
  width: 100%;
  height: 595px;
}

.more-content-modal .modal-header {
  padding: 11px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  background-color: #0868fd;
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  justify-content: center;
}

.more-content-modal .modal-body {
  height: 440px;
  padding: 30px 30px 0 30px;
  background-color: #ffffff;
  overflow-y: auto;
}

.more-content-modal .modal-body .inner-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #222222;
}

.more-content-modal .modal-body .text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.more-content-modal .modal-footer {
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 40px 0 30px;
  border: none;
}

.more-content-modal .modal-footer button {
  width: 150px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 0 !important;
  justify-content: center;
}

.more-content-modal .modal-footer button.btn-primary {
  background-color: #0868fd !important;
  border: 1px solid #0868fd !important;
  color: #ffffff !important;
}

.more-content-modal .modal-footer button.btn-outline-primary {
  border: 1px solid #0868fd !important;
  background-color: #ffffff !important;
  color: #0868fd !important;
}

#sign_up .step02 .right .right-wrap .right-content .input-wrap .text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

#sign_up .step-section .right .right-wrap .right-content .input-wrap {
  display: block;
  position: relative;
  position: relative;
  margin-bottom: 20px;
}

#sign_up .step-section .right .right-wrap .right-content .input-wrap input {
  width: 100%;
  display: block;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

#sign_up .step02 .right .right-wrap .right-content .input-wrap .text-wrap .input-text {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

#sign_up .step02 .right .right-wrap .right-content .input-wrap .pw-info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}

#sign_up .step02 .right .right-wrap .right-content .input-wrap .icon {
  position: absolute;
  right: 16px;
  top: 44px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/images/ic-hide.png") no-repeat center center / cover;
  cursor: pointer;
}

#sign_up .step02 .right .right-wrap .right-content .input-wrap .icon.active {
  background: url("/images/ic-show.png") no-repeat center center / cover;
}

#sign_up .step04 .right .right-wrap .right-content .step-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #222222;
}

#sign_up .step04 .right .right-wrap .right-content .step-text {
  margin: 8px 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #373737;
}

#sign_up .step-section .right .logo-mb {
  display: none;
}

.bussiness-modal .modal-title{
  font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #222222;
}

.bussiness-modal .modal-body{
  margin: 20px 0;
    padding: 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #373737;
    text-align: center;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.bussiness-modal .btn.btn-primary{
  width: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    background: #0868FD !important;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #sign_up .step-section .left {
    display: none;
  }
  #sign_up .step-section .right .logo-mb {
    display: block;
    width: 115px;
    height: 33px;
  }
  #sign_up .step-section .right {
    width: 100%;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    padding: 2em 20px;
    overflow: auto;
    row-gap: 37px;
  }
  #sign_up .step-section .right .right-wrap {
    width: 100%;
    height: auto;
    margin: auto;
  }
  #sign_up .step-section .right .right-wrap .right-content {
    width: 100%;
    margin: auto;
  }
}

/* Signup Page Css End */


.step01-none {
  display: none !important;
}